# ==============================
# Python / PySpark
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==============================
# Virtual Environments
# ==============================
venv/
env/
.venv/

# ==============================
# Jupyter / Databricks
# ==============================
.ipynb_checkpoints/
*.dbc

# ==============================
# Logs & Temp Files
# ==============================
*.log
*.tmp
*.swp

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# IDE / Editor
# ==============================
.vscode/
.idea/

# ==============================
# Build / Cache
# ==============================
build/
dist/
*.egg-info/


# ==============================
# Secrets / Config
# ==============================
.env
*.key
*.pem


TODO.md